*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  body{
  font-size: 16px;
  background-color: #0F172A;
  color: #E5E7EB;
  }

header{
    padding:20px 10px;
  background-color: #1E293B;
  color: #E5E7EB;
    display: flex;
    justify-content: space-between;
}
.logo{
    text-align: center;   
  font-size: 24px;
  font-weight: bold;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    list-style-type:none;
    padding:20px 10px;
}
a{
    text-decoration: none;
  color: #E5E7EB;
}
a:hover
{
  color: #F97316;
  text-decoration: none;
}
.container{
    height: 80vh;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBuxLT-cSbPjfSxxPfB-Fg_jj-YBZrhdDTqA&s");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  position: relative;
   overflow: hidden;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
   left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.55);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index:2;
    padding:10px;
    animation: slideIn 1s ease-out forwards;
  transform: translateX(-100%);

}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* stop in center */
    opacity: 1;
  }
}
.heading{
  text-align: center;
  color:#FACC15;
  padding:20px;
}

.paragraph{
  padding:20px;
  color:#E5E7EB;
  text-align: center;
}

footer{
  padding-bottom:20px;
  text-align: center;
  background-color: #1E293B;
  color: #E5E7EB;
  border: none;
}
.footer-container{
  background-color: #1E293B;
  color: #fff;
  padding:30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

}
.footer-column{
  display: grid;
  grid-template-rows:repeat(4, 3em);
}
.social-icons i {
  font-size: 50px;
}
.facebook { color: #60A5FA; }
.instagram { color: #C084FC; }
.whatsapp { color: #22C55E; }

.btn:hover,
.deal button:hover,
.more:hover {
  background-color: #FACC15;
}
.list li{
  color: #9CA3AF;
  list-style-type:none;
  padding:4px;
}
.burger{
  color: #FACC15;
}
.copy{
  color:#9CA3AF;
}
button, .btn {
  transition: background-color 0.3s;
}