*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  body{
  font-size: 16px;
  background-color: #0F172A;
  color: #E5E7EB;
  }

header{
    padding:20px 10px;
  background-color: #1E293B;
  color: #E5E7EB;
    display: flex;
    justify-content: space-between;
}
.logo{
    text-align: center;   
  font-size: 24px;
  font-weight: bold;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    list-style-type:none;
    padding:20px 10px;
}
a{
    text-decoration: none;
  color: #E5E7EB;
}
a:hover
{
  color: #F97316;
  text-decoration: none;

}

.deals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.deal {
  padding: 20px;
  background-color: #1E293B;
  color: #E5E7EB;
  border-radius: 12px;
}

.deal img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.deal ul {
  list-style:square;
  text-align: left;
  color: #9CA3AF;
  padding: 10px 0;
padding-left: 20px;
}

.deal p {
  padding:20px;
  font-weight: bold;
  margin: 10px 0;  
  color: #FACC15;

}

.deal button {
  background-color: #F97316;
  color: #0F172A;
  border: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.dish{
  padding:20px;
  text-align: center;
  font-size:30px;
  font-weight: bold;
  color: #FACC15;
}
.container{
  padding: 20px;
  border:1px solid #F97316;
}
.menu{
  padding:10px;
  display:grid;
  grid-template-columns:repeat(5, 1fr);
  grid-template-rows:repeat(1,1fr);
}
.btn{
  background-color: #F97316;
  color: #0F172A;
  border: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.menu2{
  font-weight:normal;
  padding:10px;
  display: grid;
  grid-template-columns:repeat(3 , 1fr);
  font-size:15px;
}
.offer{
padding:15px;
text-align: center;
color: #FACC15;
}

footer{
  padding-bottom:20px;
  text-align: center;
  background-color: #1E293B;
  color: #E5E7EB;
  border: none;
}
.footer-container{
  background-color: #1E293B;
  color: #fff;
  padding:30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

}
.footer-column{
  display: grid;
  grid-template-rows:repeat(4, 3em);
}
.footer-columns{
  justify-content:center;
}
.social-icons i {
  font-size: 50px;
}
.facebook { color: #60A5FA; }
.instagram { color: #C084FC; }
.whatsapp { color: #22C55E; }

.btn:hover,
.deal button:hover,
.more:hover {
  background-color: #FACC15;
}
.list li{
  color: #9CA3AF;
  list-style-type:none;
  padding:4px;
}
.burger{
  color: #FACC15;
}
.copy{
  color:#9CA3AF;
}
button, .btn {
  transition: background-color 0.3s;
}
@media (max-width:768px){
  header {
    flex-direction: column;
    align-items: center;
  }
  .link {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }
}
@media (max-width:768px){
  .deal img {
    height: 150px;
  }
}
@media (max-width:768px){
  .deal img {
    height: 150px;
  }
}
